*{
    color:grey;
    background-color: rgb(255, 249, 240);
}

img{
    height: 300px;
    width: auto;
}

h1,
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-weight: 1200;
    font-size: 50px;
}

h3{
    font-size: 20px;
}

li,
p{
    color: darkgreen;
    font-family: "Times New Roman" serif;
    font-size: 18px;
    text-align: justify;
}

.link,
.para {
    color: darkgreen;
    font-family: "Times New Roman" serif;
    font-size: 18px;
    text-align: justify;
}