*{
    color:grey;
    background-color: rgb(255, 249, 240);
    outline: red;
    
}

div{
    padding: 20px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-weight: 1200;
    font-size: 50px;
    text-align: center;
    margin: 0%;
    padding: 0px;
    border: 0px;
}

.link,
.para {
    color: darkgreen;
    font-family: "Times New Roman" serif;
    font-size: 18px;
    text-align: justify;
} 

